<body>
    <header>
        <h1>VierGewinnt</h1>
    </header>
    <main>
          <form id ="login" (submit)="login($event)">
            <label for name>Benutzername:</label>
            <input type="text" id="name" placeholder="Benutzername..."><br><br>
            <label for password>Passwort:</label>
            <input type="password" id="pw" placeholder="Passwort...">
            <br><br><br>
            <input type="submit" value="Login">
            <a routerLink="/RegistrationComponent" routerLinkActive="active">Registrieren...</a>
          </form>
    </main>
    <footer>
      <p>von Elisabeth Hassler, Alexander Widmann <span>Webtechnologien W19</span></p>
    </footer>
</body>

        

    
  


