    <main>
      <form id="loginform" (submit)="login($event)">
        <label for name>Username:</label>
        <input type="text" id="uname1" placeholder="only numbers and letters" required><br><br>
        <label for password>Password:</label>
        <input type="password" id="pw1" required>
        <br><br><br>
        <input type="submit" id="submit" value="Login"/> 
        <a routerLink="/Registration" routerLinkActive="active">Registration...</a>
      </form>
    </main>

        

    
  


