* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main #loginform{
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}

main #loginform label, a{
     float: left;
 }

main #loginform input, button {
     float: right;
 }

 #submit {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: grey
 }






