
main #registrationform{
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}
main #registrationform label, a{
     float: left;
 }

main #registrationform input, button {
     float: right;
 }

 #submit {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: grey
 }