main #registrationform{
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}
main #registrationform label, a{
     float: left;
 }

main #registrationform input, button {
     float: right;
 }