    <main>
      <div ng-app="">
          <form id="registrationform" (submit)=registration($event)>
            <label for name>Username:</label>
            <input type="text" id="uname2"><br><br>
            <label for name>First Name:</label>
            <input type="text" id="fname"><br><br>
            <label for name>Surname:</label>
            <input type="text" id="sname"><br><br>
            <label for password>Passwort:</label>
            <input type="password" id="pw2"><br><br>
            <label for name>Passwort wiederholen:</label>
            <input type="password" id="pw3"><br><br>
            <br><br>
            <input type="submit" value="Registration"/> 
            <a routerLink="/Login" routerLinkActive="active">I already have an account...</a>
          </form>
      </div>
    </main>